<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/scripts/styles.css">    
    </head>
    <body id="newStudent">
        <div class="container">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2>Prijava</h2>
           <p>Molimo unesite novog studenta</p>
           </div>
            <form id="newuser" method="POST" action="/newUser">
        
                
        
        
                    <input type="text" id="KorisnickoIme" name="KorisnickoIme" placeholder="Korisnicko ime">

               
        
                
        
                    <input type="text" id="Ime" name="Ime" placeholder="Ime">
        
            

                
        
                    <input type="text" id="JMBAG" name="JMBAG" placeholder="JMBAG">
            
            
                
                
        
                    <input type="text" id="Prezime" name="Prezime" placeholder="Prezime">
                
            

                
        
                    <input type="text" id="Datum" name="Datum" placeholder="Datum">
                    
            

                
        
                    <input type="text" id="Datum" name="Datum" placeholder="Datum">
                        
            

                
        
                <input type="text" id="Lozinka" name="Lozinka" placeholder="Lozinka">
                        
            

                
        
                    <input type="text" id="TipId" name="TipId" placeholder="TipId">
                        
            
                
                <button type="submit" class="btn btn-primary">Prijava</button>
        
            </form>
            </div>
        </div></div></div>
        
        
        </body>

</html>
